.header{
    display: flex;
    height: 80px;
    padding: 5px;
    justify-content: space-evenly;
    background-color:white;
   box-shadow: 5px ;
   border-bottom: solid black 1px;
}

.filter{
    width: 35%;
    height: 35%;
}
.formdiv{
    width: 450px;
    height: 500px;
    background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
margin-top: 30px;
border-radius:10px
}
input{
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
}
select{
      width: 250px;
    height: 40px;
    margin-bottom: 20px;
}

#modal-modal-title{
    margin-bottom: 10px;
}

#button{
    margin-top: 10px;
}